div {
  transition: background-color 500ms;
}
div:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
button {
  animation: float 3000ms infinite alternate-reverse;
  transition: all 500ms;
} 
button:hover {
  background-color: black;
  color: white;
}

@keyframes float {
  0% {
    transform: translatey(0);
  }
  100% {
    transform: translatey(25px);
  }
}

.nav__link{
    color:black
}
.nav__link--active{
    color: purple;        
    font-weight: bold;
}